<h1>Results Page</h1>

<% if (results.Response === "True") { %>
    <% results['Search'].forEach(function(movie){ %>
        <li>
            <%=movie.Title%>
        </li>
        <% })%>
<% } else {%>
    Nothing Found
    <% } %>



